<div class="row">
    <div class="col-md-6">
        <h4>HOT-N-READY!</h4>
        <div class="hot-n-ready">
            {{#each burgers}}
            {{#unless devoured}}
            <form action="burger/eat/{{id}}" method="POST">
                <div class="input-group">
                    <li class="form-control">{{id}}. {{burger_name}}</li>
                    <button class="btn btn-success eatBtn" type="submit">Eat It!</button>
                </div>
            </form>
            {{/unless}}
            {{/each}}
        </div>
    </div>

    <div class="col-md-6">
        <h4>What You Have Ate Today!</h4>
        <div class="ateToday">
            {{#each burgers}}
            {{#if this.devoured}}
            <div class="input-group">
                <li class="form-control">{{this.id}}. {{this.burger_name}}</li>
            </div>
            {{/if}}
            {{/each}}
        </div>
    </div>
</div>
