<div class="row">
    <div class="col-md-6">
        <h4>HOT-N-READY!</h4>
        <div class="hot-n-ready">
            <ul>
                {{#each burgers}}
                {{#unless this.devoured}}
                <li>
                    {{this.id}}
                    {{this.burger_name}}

                    <form action="/{{this.id}}?_method=PUT" method="POST">
                        <input type="hidden" name="devoured" value="true">
                        <button class="btn-primary" type="submit">Devour It!</button>
                    </form>

                </li>
                {{/unless}}
                {{/each}}
            </ul>
        </div>
    </div>

    <div class="col-md-6">
        <h4>What You Have Ate Today!</h4>
        <div class="ateToday">
            {{#each burgers}}
            {{#if this.devoured}}
            <div class="input-group">
                <li class="form-control">{{this.id}}. {{this.burger_name}}</li>
            </div>
            {{/if}}
            {{/each}}
        </div>
    </div>
</div>
